body {
	background-color: black;
}


a {
	color: aqua;
	border: 1px solid aqua;
	display: inline-block;
	width: 200px;
	padding: 8px;
	margin: 10px;
	text-align: center;
	text-decoration: none;
	transition: color .3s ease-out, background-color 0.3s ease-out;
}
